
@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Manrope:wght@500&family=Syne&display=swap');





/* TEXT*/
*{
    margin: 0;
    padding: 0;
}
    h1.gdblack{
        
        
        font-family: 'Nunito', sans-serif;
        color: #000000;
        margin-top: 1%;
        margin-left: 1em;
        font-size: 160%;
    }
    h1.gdblacksm{
        color: black;
        font-weight: normal ;
    }
    h1.gdtxt{

        font-family: 'Syne', sans-serif;
        color: black;
        font-weight: normal;
        text-align: center;
    }


/* FOR BMI CALCULATOR*/


*.xaa{
    border: 2px solid red;

}
body{
    margin: 0;
    background-color: #F1FAEE;
    height: 88em;
}


div.gdintro{
    display: flex;
    justify-content: left;
    float: left;
    width: 100%;
    text-align: center;
    height: 4em;
    background-color: #457B9D;
}
div.gdmed{
    float: left;
    width: 100%;
    text-align: center;
    height: 42em;
    background-color: #F1FAEE;
}
div.gdgo{
    float: left;
    width: 100%;
    height: 40em;
    background-color: #35452f;
   
}   

    div.dvcal{
        display: flex;
        justify-content: space-around;
        
    }
    div.txt{
        
        margin: auto;
        width: 50%;
        border-radius: 0px 0px 4em 4em;
        height: 5em;
        background-color: #017953;
        -webkit-border-radius: 0px 0px 4em 4em;
        -moz-border-radius: 0px 0px 4em 4em;
        -ms-border-radius: 0px 0px 4em 4em;
        -o-border-radius: 0px 0px 4em 4em;
}
    div.dvput{
        width: 40em;
        height: 4em;
        background-color: #6acb4a;
    }



div.gdusdata{
    width: 30%;
    float: left;
    margin-left: 5%;
    height: 60%;
    background-color: blanchedalmond;
}
div.gdusfinal{
    float: right;
    width: 35%;
    height: 70%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: rgb(157, 221, 206);
}


div.gdfooter{
    width: 100%;
    height: 3em;
    font-size: 80%;
    float: left;
 
    color: white;
    background-color: rgb(26, 28, 29);
}
h1.gdmeeeD{
    margin-left: 1em;
    color: rgb(238, 255, 0);
    float: left;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    font-size: 100%;
}
div.accookiesbc{
    position: absolute;
    width: 99%;
    height: 100%;
    margin: auto;
    
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(3px);
    

}
div.accookies{
    width: 50%;
    margin-top: 12%;
    margin-left: 25%;   
    
    border: 2px solid none;
    border-radius: 20px;
    height: 45%;
    background-color: rgb(156, 156, 156);
    box-shadow: 2px 2px 2px black;
    
}
div.actop{
    width: 100%;
    height: 5%;
    background-color: rgb(36, 36, 36);
    float: top;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
    border-bottom: 7.5px solid rgb(61, 61, 61);
}
div.butns{
    width: 100%;
    border: 2px solid none;
    border-radius: 20px;
    height: 55%;
    float: left;
    background-color: rgb(180, 180, 180);
}
button.bmibut{

    width:45% ;
    background-color: white;
    border: 0.1px solid rgb(133, 133, 133);
    border-radius: 25px;
    font-size: 120%; 
       height: 15%;
    
    margin-top: 7%;
    float: bottom;
}
input.inbody{
    width: 30%;
    margin-right: 25%;
    text-align: center;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 15px;
    height: 10%;
    font-size: 120%;
}
button.cokbut{
    width: 25%;
    
    font-size: 120%;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 15%;
    margin-left: 2%;
    background-color: white;
    height: 25%;
}



