.body{
background-color: white;
}

/* TEXT*/

h1,h2,h3,h4,h5{
    color: white;
    font-family:  sans-serif;
    font-style: normals;
}
h1.shop{
    
    font-family: 'Roboto', sans-serif;
    font-style: normals;
    font-variant-caps:titling-caps;
    margin-left: 1%;
    font-size: 120%;
}
h1.gdblack{
    font-family: 'Roboto', sans-serif;
    font-style: normals;
    font-variant-caps:titling-caps;
    margin-left: 1%;
    color: black;
    text-align: center;
    font-size: 220%;

}
h1.gdmeeeD{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normals;
    font-variant-caps:titling-caps;
    margin-left: 1%;

    text-align: center;
    font-size: 220%;
}
h1.gdblacksm{
    font-family: 'Roboto', sans-serif;
    font-style: normals;
    font-variant-caps:titling-caps;
    margin-left: 1%;
    color: black;
    text-align: center;
    font-size: 170%;

}
h1.gdblacksmbg{
    font-family: 'Roboto', sans-serif;
    font-style: normals;
    font-variant-caps:titling-caps;
    margin-left: 1%;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 140%;

}
h1.gdblackssm{
    font-family: 'Roboto', sans-serif;
    font-style: normals;
    font-variant-caps:titling-caps;
    margin-left: 1%;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
}

h1.h1devel{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h1.develicons{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 220%;
}
h1.finshp{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: black;
}
h1.finshpin{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    
    color: black;

}
h1.finshpsm{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 95%;
    
    color: black;
}
h1.develiconsM{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}
h1.smallh1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}
h1.intro{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    float: left;
    margin-left: 2%;
    
}


/* DIV*/

div.ship{
    float: left;
    
    width: 100%;
    background-color: whitesmoke;
    height: 700px;
}
div.welcome{
    float: left;
    width: 100%;
    font-weight: lighter;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    height: 15%;
    background-color: rgb(43, 18, 102);
    border-bottom: 10px solid rgb(47, 20, 110);

}
div.med{
    width: 100%;
    float: left;
    height: 85%;
    background-color: rgb(31, 12, 77);
}
div.buystep1{
    width: 35%;
    margin-left: 6%;
    margin-top: 2%;
    float: left;
    text-align: center;
    height: 90%;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
div.buystep2{
    width: 45%;
    margin-right: 5.5%;
    margin-top: 2%;
    float: right;
    text-align: center;
    height: 45%;
    background-color: rgb(255, 255, 255);   
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div.devetext{
    width: 40%;
    margin-right: 8%;
    margin-top: 3.5%;
    float: right;
    
    height: 35%;
    background-color: none;   
    
}
div.end{
    width: 100%;
    float: left;
    height: 5%;
    background-color: rgb(59, 59, 59);
}
/* Orther*/
label{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center; 
}

input.text{
    background-color: white;
    margin: auto;
    
    margin-top: 3%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7.5px;
    width: 15%
}
hr{
    background-color: black;
    width: 40%;
    height: 0.75;
}
hr.small{
    background-color: black;
    width: 20%;
    height: 0.75;
    font-weight: bold;
}
select.citisel{
    background-color: white;
    margin: auto;
    
    margin-top: 3%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7.5px;
    width: 30%;
}
input.adrinp{
    width: 20%;
    margin-top: 3%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7.5px;
}
input.adrnum{
    width: 5%;
    margin-top: 3%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7.5px;
}
input.phinp{
    width: 20%;
    margin-top: 2%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7.5px;

}
label.shplb{
    margin-right: 1%;
}
label.norm{
    font-size: 110%;
    font-weight: bold;
    float: left;
    margin-left: 15%;
    
}
button.finbut{
    margin-top: 2%;
    width: 45%;
    height: 8%;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 100%;
}
button.finbut:hover{
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    font-size: 110%;
    width: 45.5%;
    height: 8.5%;
}
/* FOR BMI CALCULATOR*/

div.wbbmi{
    float: left;
    width: 100%;
    background-color: rgb(180, 180, 180);
    height: 740px;
}
div.gdintro{
    float: left;
    width: 100%;
    text-align: center;
    height: 14%;
    background-color: rgb(236, 236, 236);
}
div.gdmed{
    float: left;
    width: 100%;
    text-align: center;
    height: 78%;
    background-color: rgb(243, 243, 243);
}
div.gdusdata{
    width: 30%;
    float: left;
    margin-left: 5%;
    height: 60%;
    background-color: blanchedalmond;
}
div.gdusfinal{
    float: right;
    width: 35%;
    height: 70%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: rgb(157, 221, 206);
}
div.gdfooter{
    width: 100%;
    height: 10%;
    font-size: 80%;
    float: left;
    text-align: center;
    color: white;
    background-color: rgb(146, 146, 146);
}
div.accookiesbc{
    position: absolute;
    width: 99%;
    height: 100%;
    margin: auto;
    
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(3px);
    

}
div.accookies{
    width: 50%;
    margin-top: 12%;
    margin-left: 25%;   
    
    border: 2px solid none;
    border-radius: 20px;
    height: 45%;
    background-color: rgb(156, 156, 156);
    box-shadow: 2px 2px 2px black;
    
}
div.actop{
    width: 100%;
    height: 5%;
    background-color: rgb(36, 36, 36);
    float: top;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
    border-top-left-radius:8px ;
    border-top-right-radius:8px ;
    border-bottom: 7.5px solid rgb(61, 61, 61);
}
div.butns{
    width: 100%;
    border: 2px solid none;
    border-radius: 20px;
    height: 55%;
    float: left;
    background-color: rgb(180, 180, 180);
}
button.bmibut{

    width:45% ;
    background-color: white;
    border: 0.1px solid rgb(133, 133, 133);
    border-radius: 25px;
    font-size: 120%; 
       height: 15%;
    
    margin-top: 7%;
    float: bottom;
}
input.inbody{
    width: 30%;
    margin-right: 25%;
    text-align: center;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 15px;
    height: 10%;
    font-size: 120%;
}
button.cokbut{
    width: 25%;
    
    font-size: 120%;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 15%;
    margin-left: 2%;
    background-color: white;
    height: 25%;
}



